.live {
  background-image:
    url("assets/stars-transparent.png"),
    linear-gradient(
      0deg,
      color-mix(in srgb, rgb(252, 190, 82) 15%, black) 0%,
      color-mix(in srgb, rgb(255, 81, 0) 15%, black) 5%,
      color-mix(in srgb, var(--color-deep-indigo) 33%, black) 20%,
      color-mix(in srgb, var(--color-primary-violet) 5%, black)
    );
  background-repeat: repeat;
  background-size: 50%;
  background-blend-mode: screen;

  &__current {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &__kp {
      font-size: 3rem;
      border-radius: 10rem;
      padding: 1rem;
      display: flex;
      align-items: center;
      border: 3px dotted white;
    }
    &__time {
      font-size: 0.85rem;
    }
  }

  &__chart {
    margin: 0.75rem 0 1rem;
  }

  &__day {
    line-height: 1.15;
    text-align: center;
    white-space: nowrap;
    font-weight: 500;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    gap: 0.25rem;
    margin-top: 1rem;

    & > * {
      display: flex;
      align-items: center;
      min-height: 44px;
      padding: 4px;
      border-radius: 8px;
      background-color: color-mix(
        in srgb,
        var(--color-deep-indigo) 30%,
        rgba(0, 0, 0, 0.508)
      );
    }
  }
}

.kp-bar {
  display: flex;
  margin: 8px 0 12px;

  --border-width: 0.4rem;

  &::after {
    content: "";
    width: var(--border-width);
    height: 100%;
    background-color: var(--color-border-muted);
    opacity: 0.5;
  }

  &__start,
  &__stop {
    width: var(--border-width);
    height: 100%;
    background-color: var(--color-accent);
  }

  &__segment {
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    padding: 4px;
    flex: 1;

    background: color-mix(in srgb, var(--color-deep-indigo) 15%, black);
    border: var(--border-width) solid var(--color-accent);
    border-right: 0;
    border-left: 0;

    &--empty {
      border-color: var(--color-border-muted);
      opacity: 0.5;
    }
  }
}

// border: 3px solid var(--color-accent);
// border-right: 0;
// border-left: 0;
