.weather-current-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 0 0.75rem;
}

.weather-current {
  &__main {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin: 0 0 0.25rem;
    font-size: 2.3rem;

    &__temp-wmo {
      display: flex;
      flex-direction: column;

      &__temp {
        font-size: 1.6rem;
        font-weight: 600;
        font-variant-numeric: tabular-nums;
      }

      &__wmo {
        font-size: 1rem;
      }
    }
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.6rem 0.9rem;
    margin: 0;
    font-size: 0.9rem;
    color: var(--color-text-primary);
    font-variant-numeric: tabular-nums;

    &__detail {
      display: inline-flex;
      align-items: center;
      gap: 0.25rem;

      &__icon {
        font-size: 1.1em;
      }
    }

    &--cloud-split {
      display: flex;
      flex-wrap: wrap;
      //flex-direction: column;
      gap: 0.7rem;
      font-size: 0.85em;
      line-height: 1.2;
    }

    // &__legend {
    //   padding: 0.6rem 0.8rem;
    //   border: 1px solid var(--color-border-muted-transparent);
    //   border-radius: 8px;
    //   font-size: 0.8rem;
    //   color: var(--color-text-primary);

    //   &__heading {
    //     margin: 0 0 0.35rem;
    //     font-size: 0.85rem;
    //     font-weight: 600;
    //   }

    //   &__list {
    //     display: flex;
    //     flex-direction: column;
    //     flex-wrap: wrap;
    //     justify-content: space-between;
    //     margin: 0;
    //     padding: 0;
    //     list-style: none;
    //     gap: 0.5rem;

    //     &__item {
    //       display: flex;
    //       align-items: center;
    //       gap: 0.3rem;
    //     }
    //   }
    // }
  }
}
