a {
  color: rgb(113, 255, 180);
  font-weight: 500;
  text-decoration: none;
}

.container {
  padding: 10px;
  max-width: 800px;
}

h1, h2, h3 {
  color:rgb(113, 255, 180);
  padding-top: 10px;
}

h3 {
  padding-top: 5px;
}

article {
  background: linear-gradient(rgb(27, 27, 27), 
              rgb(8, 8, 8));
  border-radius: 15px;
  padding: 10px;
  padding-top: 0px;
}

#footer {
  color: rgb(161, 161, 161);
}
#footer > a {
  color: rgb(212, 212, 212);
}

.aboutDataLinks {
  text-align: left;
}
.aboutDataLinksTitle {
  text-align: left;
  color: #fff;
  font-style: italic;
}

.pageIntroduction {
  font-size: 20px;
}
.highIntro {
  font-weight: bold;
  font-style: italic;
}

#homeFlow, #forecastFlow, #homeFlow2 {
  min-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#forecastFlow {
  max-width: 810px;
  flex-direction: column;
}
.homeMini, .forecastMini {
  flex: 1 0 300px;
  border-radius: 30px;
  margin: 5px;
  border: 2px solid rgb(26, 26, 26);
  align-content: flex-start;
}
.forecastMini {
  flex: 1 1 150px;
}
#the27DaysPage {
  min-width: 410px;
}
#dailyDataPage {
  min-width: 600px;
}

#img-planetary-k-index > img {
  filter: invert(0.9);
  border: 1px solid rgb(201, 201, 201);
  max-width: 100%;
}
#img-planetary-k-index {
  max-width: 100%;
}

#auroraImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#img-aurora-north, #img-aurora-south {
  flex: 1 0 200px;
  margin: 5px;
}
#img-aurora-north > img, #img-aurora-south > img {
  max-width: 100%;
  border: 3px solid rgb(75, 75, 75);
  border-radius: 5px;
}