.daily-geomagnetic-indices {
  &__panels {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
  }

  &__chart {
    position: relative;
    margin-top: 16px;
    width: 100%;
  }

  &__table {
    margin: 15px 0;
    align-self: center;
    font-size: 0.85rem;
    font-weight: 500;
  }

  &__row:hover {
    outline: 4px solid rgb(214, 214, 214);
  }

  &__status {
    margin: 15px 0;
  }
}

td:first-of-type {
  min-width: 100px;
}
